{% extends 'newaccount/base.html.twig' %}

{% block body %}



<h1>
    Lei non &egrave; capo gruppo/servizio. Come da indicazioni della Direzione, non pu&ograve; chiedere un account.
</h1>

<br>

  <h2>
Per ottenere un nuovo accesso ai sistemi informatici del Consorzio RFX:


<ul>
<li>Individuare una persona di riferimento interna al Consorzio RFX da affiancare all'utente per l'uso dei sistemi
<li>Definire l'ubicazione della postazione di lavoro
<li>Definire le caratteristiche del computer eventualmente da richiedere al Servizio Calcolo: normale o con potenza di calcolo (per applicazioni tipo ansys, matlab, catia, ecc...)
<li> Far compilare del Capo Gruppo/Servizio il Modulo Nuovo account - https://portal.igi.cnr.it/newaccount (questa pagina)
</ul>

<br>

<h1>
You are not a group/service leader: you are not allowed to ask for an account.
  </h1>


<h2>
  Instructions to obtain a new system account are provided below:
<ul>
<li>Define an internal reference person at the Consorzio RFX to assist the user with system usage
<li>Define the location of the personal computer
<li>Define the computer features and make a request to Servizio IT
<li>Ask the group/service manager to fill in the webform New account - https://portal.igi.cnr.it/newaccount (this page)
</ul>

    <br><p><br>
  </h2>


{% endblock %}
