{% extends 'newaccount/base.html.twig' %}

{% block body %}

<center>
  <h2>
    Account request has been successfully recorded. Thanks.
    <br><p><br>
    <a href="{{ path('newaccount') }}" class="button" style="width:42%">Return to form</a>
  </h2>
</center>

{% endblock %}
