{% extends 'base.html.twig' %}

{% block title %}Organization{% endblock %}
{% block headerTitle %}Organization{% endblock %}
{% block headerSubTitle %}{% endblock %}

{% block javascripts %}
  <script>
    // initialization and configuration
    $(document).ready( function () {
        $('#publicAgendaTable').dataTable( {
              "fixedHeader": true,
              "lengthMenu": [ 2000, 100, 75, 50, 25, 10 ]
              //"info":     false, // remove header and footer
              //"ordering": false,
              //"bPaginate": false,
              //"sDom": 'T<"clear">lfrtip'
        } ); // end dataTable
    } ); // end ready function
    // END initialization and configuration
  </script>
{% endblock %}


{% block body %}

<table id="publicAgendaTable">
  <thead>
    <tr>
      <td>Surname</td>
      <td>Name</td>
      <td>Group</td>
      <td>Leader Of</td>
    </tr>
  </thead>

  <tbody>
    {% for ar in list %}
    <tr>
      <td> {{ ar.surname }} </td>
      <td> {{ ar.name }} </td>
      <td> {{ ar.groupName }} </td>
      <td> {{ ar.leaderOfGroup }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
